@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
*
.socialMedia{
    display:grid;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background: auto;
    height: auto;
    margin-right: 7px;
    padding-right: 30px;
    padding-top: 90px;
    margin-top: 390px;
    margin-bottom: 20px;
    border: 1px solid #d8d8d8;
    
}

.socialMedia h2 {
    text-align: center;
    margin-top: -100px;
}

.socialMedia ul
{
position: relative;
transform: skewY(-15deg);
}

.socialMedia ul li
{
position: relative;
list-style: none;
width: 120px;
background: #3e3f46;
padding: 15px;
transition: 0.5s;
z-index: calc(1 * var(--i));
}

.socialMedia ul li:hover
{
transform: translateX(-50px);
background: var(--clr);
}

.socialMedia ul li::before
{
content: '';
position: absolute;
top: 0;
left: -40px;
width: 40px;
height: 100%;
background: #3e3f46;
filter: brightness(0.7);
transform-origin: right;
transform: skewY(45deg);
transition: 0.5s;
}

.socialMedia ul li:hover::before
{
background: var(--clr);
filter: brightness(0.7);
}

.socialMedia ul li::after
{
content: '';
position: absolute;
top: -40px;
left: 0;
width: 100%;
height: 40px;
background: #3e3f46;
filter: brightness(0.9);
transform-origin: bottom;
transform: skewX(45deg);
transition: 0.5s;
}


.socialMedia ul li:hover::after
{
background: var(--clr);
filter: brightness(0.9);
}

.socialMedia ul li a
{
text-decoration: none;
color: #999;
display: block;
text-transform: uppercase;
letter-spacing: 0.05em;
transition: 0.5s;
}

.socialMedia ul li:hover a
{
color: #fff;
}

.socialMedia ul li:last-child::after
{
box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}

.socialMedia ul li span
{
position: absolute;
top: 0;
left: -40px;
width: 40px;
height: 100%;
transform-origin: right;
transform: skewY(45deg);
transition: 0.5s;
display: flex;
justify-content: center;
align-items: center;
opacity: 0.5;
font-size:1.25em;
}

.socialMedia ul li:hover span
{
opacity:0.9;
}

